# ignore logs
logs/*

# ignore public
public/javascripts/*.js
public/javascripts/*.map
public/stylesheets/style.css
public/templates/**/*
public/images/invoices/**/*
public/images/users/**/*

# ignore IDE files
.idea/**/*

# ignore node_modules
node_modules/**/*

# ignore PID file
pidfile
