<article class="dialog warning delete-invoice">
  <p>[[invoices:delete.warning]]</p>
  <section class="invoice-actions">
    <button type="button" id="cancel-delete"><span class="fa fa-times"></span> [[global:cancel]]</button>
    <button type="button" id="confirm-delete"><span class="fa fa-save"></span> [[global:delete]]</button>
  </section>
</article>
