<div class="current-user" data-user-id="{{user._id}}">
  <a href="/settings" class="settings button seamless"><span class="fa fa-gears"></span></a>
  <div class="profile-picture">
    <img src="/api/user/picture?cacheBuster={{cacheBuster}}" alt="">
  </div>
  <span class="username">{{user.name}}</span>
  <a href="/logout" class="logout button seamless"><span class="fa fa-sign-out"></span> [[global:do_logout]]</a>
</div>
