<nav role="navigation" class="main-navigation">
  <ul>
    <li class="menu-dashboard{{#if dashboardActive}} current-item{{/if}}">
      <a href="/dashboard"><span class="fa fa-circle-o"></span> [[menu:dashboard]]</a>
    </li>
    <li class="menu-invoices{{#if invoicesActive}} current-item{{/if}}">
      <a href="/invoices"><span class="fa fa-inbox"></span> [[menu:invoices]]</a>
    </li>
    <li class="menu-statistics{{#if statisticsActive}} current-item{{/if}}">
      <a href="/statistics"><span class="fa fa-bar-chart"></span> [[menu:statistics]]</a>
    </li>
    <li class="menu-balance{{#if balanceActive}} current-item{{/if}}">
      <a href="/balance"><span class="fa fa-calculator"></span> [[menu:balance]]</a>
    </li>
  </ul>
</nav>
