.timeline-item {
  position:   relative;
  width:      4px;
  height:     40px;
  margin:     0 auto;
  background: #eee;

  &[data-timeline-description]::after {
    content:       attr(data-timeline-description);
    display:       block;
    position:      absolute;
    top:           0;
    right:         0;
    width:         200px;
    height:        40px;
    line-height:   40px;
    color:         #d0d0d0;
    font-size:     14px;
    font-style:    italic;
    background:    #eee;
    border-radius: 4px;
    text-shadow:   1px 1px #fff;
  }

  &.timeline-first::after,
  &.timeline-last::after {
    left:       0;
    transform:  translateX(-50%);
    text-align: center;
  }

  &.timeline-first::after {
    top: -40px;
  }

  &.timeline-last::after {
    top:    initial;
    bottom: -40px;
  }

  &.timeline-loading {
    height:        80px;
    border-radius: 0 0 4px 4px;

    &.timeline-last {
      height:        40px;
      border-radius: 0;

      &::after {
        top:  40px;
        left: 2px;
      }
    }

    &::after {
      content:          '';
      position:         absolute;
      top:              20px;
      left:             -18px;
      width:            20px;
      height:           20px;
      line-height:      20px;
      padding:          10px;
      border-radius:    20px;
      background-color: #eee;
      @include loading();
    }
  }

  &.timeline-data-available {
    height: 40px;

    &::after {
      content:          '\f141';
      position:         absolute;
      top:              20px;
      left:             -18px;
      width:            20px;
      height:           20px;
      line-height:      22px;
      padding:          10px;
      border-radius:    20px;
      background-color: #eee;
      color:            #999;
      text-align:       center;
      vertical-align:   middle;
      font-family:      'FontAwesome';
      font-size:        20px;
    }
  }

  &.timeline-first {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

.invoice-tags {

  .taggle_placeholder {
    position:       absolute;
    line-height:    20px;
    padding:        .5rem;
    pointer-events: none;
  }

  .taggle_sizer {
    opacity:    0;
    visibility: hidden;
    height:     0;
  }

  &.active {
    border-color: #03a9f4 !important;
  }

  ul {
    display:         flex;
    flex-direction:  row;
    align-items:     flex-start;
    justify-content: flex-start;
    flex-wrap:       wrap;

    &.taggle_list > li:last-child {
      margin: 0 0 0 .75rem;

      input {
        max-width:   200px;
        margin:      0;
        border:      0;
        font-family: $font-family-text;
      }
    }
  }

  .tag {
    margin:        .25rem;
    padding:       .25rem;
    border:        1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    background:    #b3e5fc;
    color:         rgba(0, 0, 0, .5);
    cursor:        default;
    text-overflow: ellipsis;
    white-space:   nowrap;
    overflow:      hidden;
    line-height:   1.2rem;
    transition:    opacity .125s;

    .taggle_text {
      vertical-align: top;
    }

    &.taggle {
      max-width:    25%;
      padding-left: .5rem;
    }

    &.taggle_hot {
      opacity: .5;
    }

    &.tag-red {
      background:  #f44336;
      color:       #fff;
      text-shadow: 1px 1px rgba(0, 0, 0, .25);
    }

    &.tag-green {
      background:  #8bc34a;
      color:       #fff;
      text-shadow: 1px 1px rgba(0, 0, 0, .25);
    }

    &.tag-blue {
      background:  #2196f3;
      color:       #fff;
      text-shadow: 1px 1px rgba(0, 0, 0, .25);
    }

    &.tag-pink {
      background: #e91e63;
      color:      #fff;
    }

    &.tag-yellow {
      background: #ffeb3b;
    }

    &.tag-orange {
      background: #ff9800;
    }

    &.tag-brown {
      background: #795548;
      color:      #fff;
    }

    &.tag-black {
      background: #000;
      color:      #fff;
    }

    .close {
      width:         16px;
      height:        16px;
      margin-left:   .25rem;
      padding:       0;
      line-height:   16px;
      border-radius: 8px;
      background:    rgba(0, 0, 0, .25);
      opacity:       1;
      cursor:        pointer;
      transition:    all .12s;

      &:hover {
        opacity: .75;
      }
    }
  }
}

.invoices {
  @media screen and (max-width: 600px) {
    margin-top: 0;
  }

  .invoice {
    position:      relative;
    width:         80%;
    margin:        0 auto;
    padding:       0;
    border:        1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    background:    #fff;
    box-shadow:    0 2px 5px rgba(0, 0, 0, .1);
    z-index:       1;

    @include clearfix();

    &.search-result + .search-result {
      margin-top: 40px;
    }

    section {
      font-size: 18px;

      & > span {
        font-weight: bold;
      }
    }

    .invoice-image {
      position:            relative;
      float:               left;
      width:               200px;
      height:              200px;
      border-right:        1px solid rgba(0, 0, 0, .2);
      overflow:            hidden;
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
      transition:          all .5s;

      &:hover {
        background-size: 100%;
      }

      &::before {
        position:        absolute;
        content:         '';
        display:         block;
        top:             0;
        left:            0;
        width:           100%;
        height:          100%;
        background:      #fff url(/images/noImage.svg) no-repeat center center;
        background-size: 40px 40px;
        z-index:         -1;
      }
    }

    .invoice-data {
      float:   left;
      width:   calc(100% - 200px);
      height:  150px;
      padding: 20px;

      .invoice-owner {
        margin-bottom: 20px;

        .profile-picture {
          display:        inline-block;
          width:          40px;
          height:         40px;
          border-radius:  20px;
          overflow:       hidden;
          vertical-align: middle;
          box-shadow:     0 0 0 4px transparent;
          transition:     all .125s;
          cursor:         pointer;
          margin-right:   10px;

          img {
            width:         40px;
            height:        40px;
            border-radius: 20px;
            position:      relative;
            left:          50%;
            transform:     translateX(-50%);
          }
        }

      }

      .tags-label {
        display:        inline-block;
        vertical-align: middle;
        padding:        2px 0;
      }

      .invoice-tags {
        display:        inline-block;
        vertical-align: middle;

        @include clearfix();
      }

      .invoice-id {
        position:      absolute;
        top:           0;
        right:         0;

        margin:        5px;
        padding:       2px 6px;
        border-radius: 4px;
        font-family:   'Source Code Pro', 'Courier New', monospace;
        font-size:     12px;
        background:    rgba(0, 0, 0, .05);
        color:         rgba(0, 0, 0, .5);
      }
    }

    .invoice-actions {
      float:      left;
      width:      calc(100% - 200px);
      height:     50px;
      padding:    10px;
      text-align: right;

      .button {
        display: inline-block;

        @media screen and (max-width: 900px) {
          font-size:   0;
          line-height: 16px;
          height:      32px;

          .fa {
            font-size: 16px;
          }
        }

        & + .button {
          margin-left: 5px;
        }
      }
    }

    @media screen and (max-width: 1100px) {
      width: calc(100% - 20px);
    }

    @media screen and (max-width: 600px) {

      .invoice-image,
      .invoice-data,
      .invoice-actions {
        width:  100%;
        float:  none;
        border: none;
      }

      .invoice-actions {
        margin-top: 20px;
      }

      .invoice-data .invoice-id {
        background: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.single-invoice {
  .invoice {
    position:      relative;
    max-width:     80%;
    border:        1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;

    .invoice-image {
      width:         100%;
      border-radius: 0 0 3px 3px;
      overflow:      hidden;

      img {
        width:  100%;
        height: auto;
      }
    }

    .invoice-data {
      display:        flex;
      flex-direction: column;
      padding:        20px;
      font-size:      18px;
      line-height:    2;

      .row {
        display:        flex;
        flex-direction: row;
        align-items:    baseline;
      }

      .label {
        flex-basis: 10%;
      }

      .value {
        flex-basis:  90%;
        flex-grow:   1;
        margin-left: 1rem;
        font-weight: 500;
      }

      .invoice-id {
        position:      absolute;
        top:           0;
        right:         0;

        margin:        5px;
        padding:       2px 6px;
        border-radius: 4px;
        font-family:   'Source Code Pro', 'Courier New', monospace;
        font-size:     12px;
        background:    rgba(0, 0, 0, .05);
        color:         rgba(0, 0, 0, .5);
      }

      .invoice-note p {
        line-height:   1.4;
        background:    rgba(250, 235, 215, 0.45);
        border-radius: 4px;
        padding:       .2rem .5rem;
        text-shadow:   1px 1px #fff;
        border:        1px solid rgba(0, 0, 0, .05);
      }

      .invoice-tags .tag:first-child {
        margin-left: 0;
      }
    }
  }
}

.edit-invoice,
.create-invoice {
  .invoice {
    display:        flex;
    flex-direction: column;
    position:       relative;
    max-width:      80%;
    border:         1px solid rgba(0, 0, 0, .2);
    border-radius:  4px;
    overflow:       hidd en;

    .invoice-actions {
      padding:    40px;
      text-align: center;
    }

    .invoice-data {
      padding: 20px;

      .invoice-id {
        pointer-events: none;
        z-index:        10;
        position:       relative;
        margin-bottom:  20px;
        text-shadow:    0 0 15px #eee, 0 0 2px #fff;
      }

      .invoice-picture-drop-area {
        position:      absolute;
        left:          0;
        top:           0;
        height:        200px;
        width:         100%;
        border-bottom: 1px dashed rgba(0, 0, 0, .1);
        background:    #fbfbfb;
        margin-bottom: 200px;
        z-index:       auto;
        padding:       20px;

        &::after {
          content:        attr(data-upload-text);
          display:        block;
          position:       absolute;
          left:           10px;
          top:            10px;
          height:         170px;
          width:          calc(100% - 30px);
          border:         5px dashed transparent;
          text-align:     center;
          line-height:    170px;
          font-size:      25px;
          color:          rgba(0, 0, 0, .4);
          text-shadow:    -1px -1px #fff;
          pointer-events: none;
          opacity:        1;
          transition:     opacity .2s;
        }

        img {
          opacity:    0;
          transition: opacity .2s;
        }

        progress {
          position:           absolute;
          bottom:             0;
          left:               0;
          width:              100%;
          height:             5px;
          -webkit-appearance: none;
          -moz-appearance:    none;
          background:         transparent;
          border:             none;

          &::-webkit-progress-bar {
            background: transparent;
          }

          &::-webkit-progress-value {
            background: #03a9f4;
            transition: width .2s;
          }
        }

        .remove-invoice-picture {
          position:       absolute;
          bottom:         0;
          right:          0;
          margin:         1rem;
          opacity:        0;
          pointer-events: none;
          z-index:        10;
          transition:     opacity .25s;
        }

        &.dragged-over {
          background: rgba(3, 169, 244, 0.31);

          &::after {
            border: 5px dashed #fff;
          }
        }

        &.loading-preview {
        }

        &.loaded-preview {
          overflow:            hidden;
          padding:             0;
          border-bottom-style: solid;

          img {
            max-width: 100%;
            height:    auto;
            opacity:   1;
          }

          .remove-invoice-picture {
            opacity:        1;
            pointer-events: all;
          }

          &::after {
            opacity: 0;
          }
        }

        &.uploading {
        }

        &.dropped {
          background: #0ccc71;
        }

        .fallback {
          display: none;
        }
      }

      label {
        display:     block;
        text-indent: 14px;
        color:       rgba(0, 0, 0, .65);

      }

      input + label,
      #invoice-note + label {
        margin-top: 20px;
      }

      .tags-label {
        display:     block;
        margin-top:  20px;
        text-indent: 14px;
        color:       rgba(0, 0, 0, .65);
      }

      .invoice-tags {
        margin:        5px 0;
        padding:       .25rem;
        border:        1px solid rgba(0, 0, 0, .1);
        border-radius: 4px;
        font-size:     16px;

        @include clearfix();
      }
    }

    .invoice-image {
      display:         flex;
      justify-content: center;
      position:        relative;
      width:           100%;
      max-height:      400px;
      overflow:        hidden;
      border-radius:   3px 3px 0 0;

      img {
        position:   relative;
        width:      100%;
        height:     auto;
        align-self: center;
      }

      .change-image {
        opacity:        0;
        pointer-events: none;
        position:       absolute;
        top:            0;
        left:           0;
        width:          100%;
        height:         100%;
        padding:        100px;
        background:     rgba(0, 0, 0, .25);
        text-align:     center;
        transition:     all .125s;

        .upload-image {
          width:         200px;
          height:        200px;
          line-height:   200px;
          margin:        0 auto;
          border-radius: 100px;
          background:    rgba(0, 0, 0, .5);
          color:         #fff;
          font-size:     56px;
        }
      }

      &:hover .change-image {
        opacity:        1;
        pointer-events: initial;
      }
    }
  }
}

.create-invoice .invoice .invoice-data .invoice-id {
  margin-bottom: 170px;
}

.search-invoices {
  h1 {
    text-align: center;
  }

  [type="search"] {
    display: inline-block;
    width:   calc(100% - 64px);
  }

  #submit-search {
    display: inline-block;
    width:   60px;
    padding: 8px 12px 8px;
  }

  #advanced-search-controls {
    height:     0;
    overflow:   hidden;
    padding:    0;
    transition: height .25s, padding .25s;

    &.active,
    &:target {
      height:  auto;
      padding: 20px 0;
    }

    .control-container {
      display: table;
      width:   100%;
      padding: 10px 0;

      & > div {
        display:        table-cell;
        padding:        0 5px;
        vertical-align: middle;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    label {
      display:     block;
      color:       rgba(0, 0, 0, .5);
      text-indent: 14px;

      &.in-focus {
        color: #03a9f4;
      }
    }
  }

  .search-results {
    margin-top: 50px;

    .search-query {
      font-style: italic;
      color:      rgba(0, 0, 0, .6);

      quotes:     "\00BB" "\00AB";

      &::before {
        content: open-quote;
      }

      &::after {
        content: close-quote;
      }
    }

    h2 {
      text-align:    center;
      margin-bottom: 30px
    }
  }
}
