.settings {
  position: relative;

  @media screen and (max-width: 900px) {
    margin: 0 10px;
  }

  h1 {
    margin-bottom: 50px;
  }

  .settings-category {
    .settings-header {
      float:      left;
      width:      20%;
      text-align: center;

      .settings-category-title {
        margin-bottom: 25px;
        color:         rgba(0, 0, 0, .25);
        font-weight:   $font-weight-medium;
        font-size:     20px;
      }

      @media screen and (max-width: 900px) {
        float:      none;
        width:      initial;
        text-align: left;

        .settings-category-title {
          color: rgba(0, 0, 0, .75);
        }
      }
    }

    &:target {
      .settings-category-title {
        color: #03a9f4;
      }
    }

    .settings-data {
      float: right;
      width: 80%;

      @media screen and (max-width: 900px) {
        float: none;
        width: initial;
      }

      .help-text {
        position:      relative;
        margin:        15px 0;
        padding:       15px;
        border:        2px solid rgba(3, 169, 244, 0.5);
        border-radius: 4px;
        line-height:   1.2;
        font-size:     16px;
        color:         rgba(0, 0, 0, .5);

        &::before {
          content:     '\f059  ' attr(data-help-text-title);
          font-family: 'FontAwesome', sans-serif;
          position:    absolute;
          top:         -14px;
          left:        7px;
          background:  #fff;
          padding:     4px 8px;
          color:       rgba(3, 169, 244, 0.75);
        }

        h4 {
          color: rgba(3, 169, 244, .75);
        }

        ul {
          margin-top: 10px;

          li + li {
            margin-top: 10px;
          }
        }
      }
    }

    & + .settings-category {
      margin-top: 50px;
    }

    @include clearfix();
  }
}

.setting {
  & + .setting,
  & + .settings-group {
    margin-top: 25px;
  }
}

.settings-group {
  & + .setting,
  & + .settings-group {
    margin-top: 25px;
  }
}

.users {
  width: 100%;

  th {
    padding:       10px;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    text-align:    center;
    font-weight:   $font-weight-bold;
  }

  td {
    padding:        10px;
    vertical-align: middle;
    text-align:     center;
  }

  .actions {
    text-align: right;
  }

  .profile-picture {
    width:         50px;
    height:        50px;
    margin:        0 auto;
    border-radius: 25px;
    overflow:      hidden;

    img {
      max-width:  100%;
      height:     auto;
      min-height: 100%;
    }
  }

  @media screen and (max-width: 630px) {
    .last-name,
    .role {
      display: none;
    }
  }
}

.user-actions {
  margin: 25px 0;
}

.modal-content-wrapper {
  width: 400px;

  .modal-body {
    padding: 25px;

    p {
      margin-bottom: 25px;
      line-height:   1.4;
      font-size:     18px;
    }

    label {
      display: block;
    }

    input + label,
    select + label {
      margin-top: 15px;
    }
  }

  .actions {
    margin-top: 25px;
  }
}

.send-invite {
  &.sending {
    background-image:    url(/images/loading-inverted.svg);
    background-size:     20px;
    background-repeat:   no-repeat;
    background-position: center center;
    color:               transparent;
  }
}
